@use "./variables.scss" as *;
@use "./utility_selector.scss" as *;

main {
    background-color: $clr_primary;
    min-height: calc(100vh - 100px);

    ul {

        padding: 0;

        .col {
            color: $clr_light;
            padding: 20px;

            .cover_movie {
                max-width: 100%;
                filter: brightness(20%);
            }

            // .darkcover {}

            .info_container {
                font-size: calc(16px + 0.1vw);
                padding: 20px;



                .flags {
                    height: 25px;
                    width: 40px;
                    vertical-align: middle;
                    margin-right: 15px;
                }

                .lenguage {
                    vertical-align: middle;
                }

                .vote {
                    margin-top: 20px;
                }
            }

        }
    }
}