@use "./variables.scss" as *;
@use "./utility_selector.scss" as *;

.overlay {
    position: fixed;
    top: 100px;
    left: 0;
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.688);
    display: flex;
    justify-content: center;
    align-items: center;


    .description {
        padding: 30px 20px;
        width: 80%;
        border-radius: 20px 5px 5px 20px;
        background-color: $clr_primary;
        color: $clr_light;
        filter: drop-shadow(2px 2px 5px black);
        position: relative;
        max-height: 80%;
        overflow-y: auto;

        & *:not(.x_close) {
            text-shadow: 2px 2px 5px black;
        }

        .original_title {
            margin-top: -5px;

        }

        .release_date {
            margin-bottom: 5px;
            font-size: calc(12px + 0.1vw);

        }

        .flags {
            height: 25px;
            width: 40px;
            vertical-align: middle;
            margin-right: 15px;
        }

        .vote {
            margin-top: 10px;
        }

        .stars_vote {
            margin-bottom: 10px;

            & * {
                filter: drop-shadow(2px 2px 5px black);
            }
        }

        .credits {
            text-align: center;

            .pictures_container {
                padding: 20px;
                transition-duration: 0.5s;


                &:hover {
                    transform: scale(0.95);
                }

                &:hover+.actor_name {
                    background-color: rgba(255, 255, 255, 0.077);
                    border-radius: 50px;
                    transition-duration: 0.5s;

                }

                .pictures {
                    max-width: 100%;
                    border-radius: 20px;
                    filter: drop-shadow(2px 2px 5px black);
                }

            }

            .actor_name {
                font-size: 14px;
                margin: 0 25px;
                padding: 2px 0;
            }
        }

        .overview {
            margin: 20px 0;
        }

        .x_close {
            position: absolute;
            top: 10px;
            right: 10px;
            transition-duration: 1s;

            &:hover {
                color: white;
            }

        }

    }


}