@use "./variables.scss" as *;
@use "./utility_selector.scss" as *;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

a {
    text-decoration: none !important;
}


// customization scrollbar (only safari and chrome)


::-webkit-scrollbar {
    width: 6px;
    background-color: $clr_primary;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #555, #333);
    border-radius: 6px;
    transition: background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #777, #555);
}