$clr_primary_light : #ffffff;
$clr_total_dark : #000000;
$clr_light : #ededed;
$clr_pale_light : #ededed8b;

// counter 
$clr_countdown : #f5f5f5;
$clr_juice_button : #ef6f31;

//banner / jumbotron
$clr_banner_side : #faf4ee;
$clr_banner_middle : #fbf9f6;
$clr_italic_heavenly : #69a0fd;

//main

//section 1 
$clr_blots_background : #fef9f7;

//section 2
$clr_button_background : #fdf0ea;
$clr_brackets : #d71f18;

//section 3
$clr_blots_sky_blue : #b2e0f6;


//section 4
$clr_lovesection_background : #faf8f6;
$clr_secondary_box : #fcfbfa;

//section 5
$clr_left_spot : #ebf7fd;
$clr_right_spot : #fefaf7;

//section 6
$clr_blog_section : #f5f7fa;


//newsletter
$clr_blog_section : #244186;